
/* Font Import */
@font-face {
    font-family: 'Norwester';
    src: url('https://raw.githubusercontent.com/kalakal-dev/bothyblend-new/refs/heads/main/resources/fonts/norwester.woff') format("woff");
}

/* Variables */
:root {
    /* Fonts */
    --logo-font: 'Norwester', sans-serif;

    /* Colours */
    --background-color: #f2f1eb;
    --bothyblend-title-color: #61642b;
    --accent1-color: #7b3a61;
    --accent2-color: #321f12;
    --gold-detail-color: #ba9d4a;
}

/* Universal Styles */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    min-height: 100%;
}

/* TEXT PRESETS */
/* Text Sizing */
.size-24 {
    font-size: 1.5rem;
}

.size-32 {
    font-size: 2rem;
}

.size-64 {
    font-size: 4rem;
}

/* Text Styles */
.logo-text-style {
    font-family: var(--logo-font);
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    text-align: center;
}

.description-text-style {
    font-family: 'Anonymous Pro', monospace;
    text-transform: uppercase;
}

/* COLOR PRESETS */
.page-background-color {
    background-color: var(--background-color);
}

.title-text-color {
    color: var(--bothyblend-title-color);
}

/* PAGE STRUCTURE PRESETS */
.page-wrapper {
    width: 100vw;
    height: 100vh;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
